@charset "utf-8";
/* CSS Document */


.container {
  height: 6em;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#experience1{
	background-color: beige;
	color: black;
}
#experience2{
	background-color: silver;
	color: black;
}
#experience3{
	background-color: black;
	color: #FEA99F;
}
#experience4{
	background-color: #414724;
	color: #F7E3BB;
}
.label{
	font-weight:bolder;
}
